#effect-autoFilter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

// #autoFilter {
//   width: 400px;
//   height: 200px;
//   background-color: #282c34;
// }
