{
  "globals": {
    "window": true,
    "define": true
  },
  "extends": ["eslint:recommended", "prettier"],
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "prettier"
  ],
  "rules": {
    "no-console": "off",
    "no-undef": "off",
    "no-unused-vars": "off",
    "no-redeclare": "off"
  }
}
