#module-membrane {
  height: 100%;
}

.beat-box {
  height: 246px;
  margin: 4px;
}

.box-active {
  fill: rgb(0,230,172);
}

#button_start, #pitch, #volume, #out, #in {
  padding: 8px;
  display: flex;
}

.dial-slot {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
