#module-mixer {
  //width: fit-content;
  display: flex;
  flex-direction: row;
  //padding: 4px;
}

.sliderSlot {
  width: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mixer_slider {
  margin: auto;
}
