<div id="module-oscillator" class="module module-ONEu">
  <app-dial id="waveform"
            [id]="'waveform'"
            [min]="0"
            [max]="3"
            [step]="1"
            [(value)]="currentType"
            (change)="osc.type = types[$event]">
  </app-dial>
  <app-dial id="frequency"
            [id]="'frequency'"
            [signal]="osc.frequency"
            [min]="0"
            [max]="4000"
            [step]="1">
  </app-dial>
  <app-sink id="in" [signal]="cvIn" [parent]="'osc'" [name]="'cv'"></app-sink>
  <app-source id="out" [name]="'out'" [signal]="osc"></app-source>
</div>
