<div class="container">
  <app-dial
    #dial_soundGenerator
    id="dial_soundGenerator"
    [id]="'dial_soundGenerator'"
    [size]="[80, 80]"
    [interaction]="'vertical'"
    [mode]="'relative'"
    [min]=".1"
    [max]="8"
    [step]="0.1"
    [value]="0"
    (change)="changeSignal($event)">
  </app-dial>
  <app-button #button_on
  id="button_on"
  [id]="'button_on'"
  [size]="[40,40]"
  [mode]="'button'"
  [state]="false"
  (click)="playSound()">
</app-button>
  <app-button #button_off
  id="button_off"
  [id]="'button_off'"
  [size]="[40,40]"
  [mode]="'button'"
  [state]="false"
  (click)="stopSound()">
</app-button>


</div>
