/* You can add global styles to this file, and also import other style files */
body {
  background-color: black;
}

* {

}

$ONEu: 60px;
$TWOu: $ONEu * 2;
$FOURu: $TWOu * 2;
$SIXu: $TWOu + $FOURu;
$EIGHTu: $FOURu * 2;

$rack-height: 326px;

.container {
  width: fit-content;
  margin: 8px;
}

.rack {
  height: $rack-height;
  width: 100vw;
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 4px;
}



label {
  font-size: 10px;
  font-family: "PT Mono", monospace;
}
